<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel='stylesheet' type='text/css' href="{{ url_for('static',filename='dojosurvey.css') }}">
	<title>Dojo Survey</title>
</head>
<body>
    <div id="wrapper">
        <form action='/result' method='post'>
        <h2>Please Submit Form:</h2><br>
        <div id="name">
            Your Name: <input required type='text' name='name'>
        </div><br>
        <div id="dojolocation">
            Dojo Location: <select required name='dojolocation'>
                <option value="anaheim">Anaheim</option>
                <option value="san_jose">San Jose</option>
                <option value="burbank">Burbank</option>
                <option value="online">Online</option>
            </select>
        </div><br>
        <div id="favlanguage">
            Favorite Language: <select required name='favlanguage'>
                <option value="python">Python</option>
                <option value="java">Java</osption>
                <option value="ruby">Ruby</option>
                <option value="c#">C#</option>
            </select>
        </div><br>
        <div id="comment">
            Comment (optional):<br><br>
            <textarea optional name='comment' rows="5" cols="31"></textarea>
            <input type='submit' value='Submit'>
        </div>
    </div>
</body>